<h1 mat-dialog-title>Add New Content</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label for="title">Title:</mat-label>
    <input matInput placeholder="Title" [(ngModel)]="data.newContentItem.title" type="text" name="title" id="title"/><br/>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="author">Author:</mat-label>
    <input matInput placeholder="Author" [(ngModel)]="data.newContentItem.author" type="text" name="author" id="author"/><br/>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="body">Body:</mat-label>
    <input matInput placeholder="Body" [(ngModel)]="data.newContentItem.body" type="text" name="body" id="body"/><br/>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="imgUrl">Image:</mat-label>
    <input matInput placeholder="Image" [(ngModel)]="data.newContentItem.imgUrl" type="text" name="imgUrl" id="imgUrl"/><br/>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="type">Type:</mat-label>
    <input matInput placeholder="Type" [(ngModel)]="data.newContentItem.type" type="text" name="type" id="type"/><br/>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="tags">One Tag:</mat-label>
    <input matInput placeholder="One Tag" [(ngModel)]="data.newContentItem.tags" type="text" name="tags" id="tags"/><br/>
  </mat-form-field>

<!--  <div class="error">{{ this.validator }}</div>-->
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.newContentItem" cdkFocusInitial>Submit</button>
</div>
