<article class="create-content">
  <app-create-content [startingId]="content.length" (newContentEvent)="addContentToList($event)"></app-create-content>
</article>

<article class="search-container">
  <input placeholder="Find Title" #titleToFind/>
  <button (click)="findTitle(titleToFind.value)">Search</button>
  <p>{{ titleBinding }}</p>
</article>

<article class="fact-container">
  <app-content-card *ngFor="let book of content | contentFilter:'fact' | slice:0:10; last as isLast" [content]="book" [class.is-last]="isLast" class="fact"></app-content-card>
</article>

<article class="fiction-container">
  <app-content-card *ngFor="let book of content | contentFilter:'fiction' | slice:0:5; last as isLast" [content]="book" [class.is-last]="isLast" class="fiction"></app-content-card>
</article>
