<article class="create-content">
  <h4>Add a Book</h4>
  <app-create-content [startingId]="content.length" (newContentEvent)="addContentToList($event)"></app-create-content>
</article>

<article class="search-container">
  <mat-form-field>
    <input matInput placeholder="Find Title" #titleToFind/>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="findTitle(titleToFind.value)">Search</button>
  <p>{{ titleBinding }}</p>
</article>


<article class="fact-container">
  <app-content-card *ngFor="let book of content | contentFilter:'fact' | slice:0:10; last as isLast" [content]="book" [class.is-last]="isLast" class="fact"></app-content-card>
</article>

<article class="fiction-container">
  <app-content-card *ngFor="let book of content | contentFilter:'fiction' | slice:0:5; last as isLast" [content]="book" [class.is-last]="isLast" class="fiction"></app-content-card>
</article>
