@import "~@angular/material/theming";
@include mat-core();

$theme-primary: mat-palette($mat-blue);
$theme-accent: mat-palette($mat-purple);
$theme-warn: mat-palette($mat-red);
$my-theme: mat-light-theme(
  $theme-primary,
  $theme-accent,
  $theme-warn
);

@include angular-material-theme($my-theme);
