<!--<span [innerHTML]="cList.htmlContent(0)"></span>-->
<!--<span [innerHTML]="cList.htmlContent(1)"></span>-->
<!--<span [innerHTML]="cList.htmlContent(2)"></span>-->

<!--<p>Number of elements: {{ cList.countContentArray() }}</p>-->

<!--<img *ngIf="content.imgUrl; else defaultImage" src="{{ content.imgUrl }}" alt="{{ content.title }}" (click)="displayId(content)"/>-->
<!--  <ng-template #defaultImage>-->
<!--    <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="{{ content.title }}" (click)="displayId(content)"/>-->
<!--</ng-template>-->

<img src="{{ content.imgUrl || 'https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg' }}" alt="{{ content.title }}" (click)="displayId(content)"/>
<p>{{ content.body }}</p>
<h4 appDecoration decoration="underline">{{ content.title }}</h4>
<p>By: {{ content.author }}</p>
<p>Type: {{ content.type }}</p>
<span *ngIf="content.tags">
  <p>Tags:</p>
  <ul *ngFor="let tag of content.tags">
      <li appDecoration decoration="bold">{{ tag }}</li>
  </ul>
</span>
